<a href="https://colab.research.google.com/github/venturaedward/58002-OOP/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loop Statements

In [12]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break
    print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
0
1
2
3
4
5

In [17]:
for x in "week":
  print(x)

w
e
e
k

for loop using break statement

In [31]:
for x in week:
  
 
  if x == "Thursday":
    print(x)
    break

Thursday

Range Function

In [33]:
for x in range (-2,2):
  print(x)

-2
-1
0
1

In [36]:
for x in range(3,6):
  print(x)

3
4
5

range()function

In [35]:
for x in range(6):
  print(x)

0
1
2
3
4
5

Nested Loops

In [39]:
adjective = ["red", "big", "tasty",]
fruits = ["apple", "banana", "cherry",]

for y in adjective:
  for x in fruits:
    print(x,y)

apple red
banana red
cherry red
apple big
banana big
cherry big
apple tasty
banana tasty
cherry tasty

In [42]:
i = 1
while 1 < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

While loop

In [55]:
i = 1
while i<6:
  print(i)
  i+=1
  break

1

Application 1

In [47]:
adjective = ["Hello"]
number = ["1","2","3","4","5","6","7","8","9","10"]
for x in adjective:
  for y in number:
    print(x,y)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [48]:
for x in range(3,10):
  print(x)

3
4
5
6
7
8
9

SyntaxError: ignored