<a href="https://colab.research.google.com/github/venturaedward/58002-OOP/blob/main/Operations%20expressions%20in%20Python_VENTURA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [1]:
print(10>9)
print(10<9)

True
False

In [2]:
a = 10 
b = 9 
print(a>b)
print(a<b)
print(a==b)
print(b==b)

True
False
False
True

In [6]:
#Bool() Function

print(bool(1))
print(bool(0))
print(bool("Ana"))
print(bool(None))

True
False
True
False

Functions can return a boolean

In [12]:
def myFunction():
  return Flase 
  print(myFunction())

In [14]:
def myFunction():
  return True
if myFunction():
  print("Yes!")
else:
  print("No!")

Yes!

In [17]:
a = 6 

b = 7
print (10>9)
print(a==b)
print(a!=b)

True
False
True

In [28]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%3)
print(10//5)
print(10**2)

15
5
50
2.0
1
2
100

Python Bitwise Operators

In [34]:
a =60 
b =13
a<<1
a>>1

30

Python Assignment Operators

In [43]:
x = 1
x+=3   # same as x = x+3 
print(x)
x = 2
x-=2
print(x)
x = 100
x/=2
print(x)

4
0
50.0

Logical Operators

In [54]:
x = True
y = False

print(x and y)
print( x or y)
print(not(x or y))

False
True
False

Identity Operators

In [96]:
op = input('+,-,*,/,%')

n1 = int(input('1st number: '))
n2 = int(input('2nd number: '))

if op == '+':
  print(n1+n2)
elif op == '-':
  print(n1-n2)
elif op == '*':
  print(n1*n2)
elif op == '/':
  print(n1/n2)

else:
  print('wala dito yan buddy',2)

+,-,*,/,%2
1st number: 3
2nd number: 4
wala dito yan buddy

Application 1 Create an arithmetic calculator (MDAS)

NameError: ignored