<a href="https://colab.research.google.com/github/venturaedward/58002-OOP/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Phyton Indentation

In [6]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Phyton Comments

In [8]:
#This is a comment
print("Hello,world")

Hello,world

Phyton Variable

In [12]:
#Variables are containers for storing data values
x = 1
a, b=0,-1
a, b, c= 0,-1,2
print(x)

1

Casting

In [13]:
b = "sally" #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type()Function

In [18]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double Qoutes" or 'Singe' qoutes

In [ ]:
#String variables can be declared either by using single or double qoutes

In [20]:
y = "John"
y = 'John'

Case sensitive

In [23]:
a = 4
A = "Sally"
#A will not overwrite a

Multiple Variables

In [24]:
x, y , z= "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [25]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variable

In [30]:
x = "enjoying"
print("Python programming is" + x)

Python programming isenjoying

In [33]:
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

Arithmetic Operation

In [35]:
x = 5
y = 3
print(x+y)

x = 5
y = 2
sum = x + y
sum

8

7

Assignment Operator

In [36]:
a,b,c= 0 , -1 , 6
c%= 3
c

0

Logical Operator

In [38]:
a,b,c=0,-1,6
a>b and c>b
True

True

Comparison Operator

In [39]:
a,b,c=0,-1,6
a>b and c>b
True

True

Identity Operator

In [42]:
a,b,c=0,-1,5
a is c
False

False

Bitwise Operator

In [47]:
a,b,c=0,-1,5
c << 1

10