<a href="https://colab.research.google.com/github/venturaedward/58002-OOP/blob/main/PythonFundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#This is a comment
print("Hello, World")

Hello, World

In [4]:
if 5>2: 
   print("Five is greater than two")

Five is greater than two

In [5]:
#Single variable with single value
x = 1
y = 2
print(x)
print(y)

1
2

In [11]:
#Multiple variable with single value
a = b = c = "Pogi"
print(a)
print(b)
print(c)

Pogi
Pogi
Pogi

In [12]:
#Multiple variable with single value
y, c, g = 1, 2, 3
print(y)
print(c)
print(g)

1
2
3

In [16]:
#Single or Double

v = "Sally"
u = "Sally"
print(v)
print(u)

Sally
Sally

In [18]:
#CASTING

q = int(5)
p = float(5) 
print(q)
print(p)

5
5.0

In [31]:
f = "Ana"
g = 4.56 
print(type(f))
print(type(g))

<class 'str'>
<class 'float'>

In [30]:
#Concatenation using + symbol

k = "enjoying"
print("Python Programming is" +" "+ k)

Python Programming is enjoying